/* Set every element's box-sizing to border-box */
* {box-sizing:border-box;}

body {
  max-width: 800px;
  margin: 0 auto; 
}
/* Font*/
html, body{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

h1, h4{
  font-family: Impact, Charcoal, sans-serif;
}

p {
  font-family: 'Lucida Grande' , sans-serif;
  letter-spacing: 1px;
  font-size:14px;
}

/* Header */

header {
  display:flex;
}

header nav {
  max-width: 100%;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 0px;
  display: inline-block;
}

.logo {
  margin-top: 20px;
  max-width: 250px;
}

header nav a {
  margin-right: 30px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

/* Innovation*/
.innov{
  display:inline-block;
  vertical-align: middle;
  font-size:40px;
  text-align:center;
  margin-top: 50px;
  margin-left: 80px;
}

.code {
  margin-left:50px;
  max-width: 500px;
}

button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

  button:hover {
  background: black;
  color: white;
}

/* Desktop */
.top-content {
  margin-top: 55px;
  border-top: 2px solid black;
  display:flex;
}

.text-content{
 margin-right:20px;
}

img{
  max-width:100%;
  margin-top:25px;
  margin-bottom: 25px;
}

.bottom-content{
  margin-top: 40px;
  border-bottom: 2px solid black;
  display:flex;
  margin-bottom: 40px;
}

/* Tablet */
header {
  display:flex;
  flex-wrap:wrap-reverse;}


@media (max-width: 800px){
  header{
   flex-direction: column-reverse;
   margin:20px;
   align-items:center;
 }
}
  
 @media (max-width: 800px){
   .code { 
     display:none;}
 }

 @media (max-width: 800px){ 
   h1 { 
     display:flex;
     flex-wrap:wrap;
     align-items:center;
     margin-left: 70px;
   }
  }

   @media (max-width: 800px){
     button {display:block;
     margin-left: 125px;}
   }
   
 /* Mobile */
@media (max-width: 500px){
  header nav a {
    display:flex;
    flex-direction: column-reverse;
    font-size: 25px;
  }   
}
 
  
 @media (max-width: 500px){
      a {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      max-width: 100%;
    }
  }

@media (max-width: 500px){
  .innov {
    font-size:35px;
  }
}
@media (max-width: 500px){
  button {
    display: block;
  }
} 
 @media (max-width: 500px){
  .top-content{
  display:block;
  }
 }

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}